@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 255 40% 98%;
		--foreground: 266 47% 3%;
		--card: 255 40% 98%;
		--card-foreground: 266 47% 3%;
		--popover: 255 40% 98%;
		--popover-foreground: 266 47% 3%;
		--primary: 257 82% 51%;
		--primary-foreground: 255 40% 98%;
		--secondary: 351 50% 70%;
		--secondary-foreground: 266 47% 3%;
		--muted: 255 39% 20%;
		--muted-foreground: 266 46% 70%;
		--accent: 27 50% 62%;
		--accent-foreground: 266 47% 3%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 266 47% 3%;
		--border: 255 39% 20%;
		--input: 255 39% 20%;
		--ring: 27 50% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 255 40% 2%;
		--foreground: 266 47% 97%;
		--card: 255 40% 2%;
		--card-foreground: 266 47% 97%;
		--popover: 255 40% 2%;
		--popover-foreground: 266 47% 97%;
		--primary: 257 82% 49%;
		--primary-foreground: 266 47% 97%;
		--secondary: 351 50% 30%;
		--secondary-foreground: 266 47% 97%;
		--muted: 255 39% 80%;
		--muted-foreground: 266 47% 97%;
		--accent: 27 50% 38%;
		--accent-foreground: 266 47% 97%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 266 45% 10%;
		--border: 255 40% 60%;
		--input: 255 39% 80%;
		--ring: 27 50% 60%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
