@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 180 33% 97%;
		--foreground: 191 27% 8%;
		--card: 180 33% 97%;
		--card-foreground: 191 27% 8%;
		--popover: 180 33% 97%;
		--popover-foreground: 191 27% 8%;
		--primary: 182 44% 54%;
		--primary-foreground: 191 27% 8%;
		--secondary: 183 34% 75%;
		--secondary-foreground: 191 27% 8%;
		--muted: 180 33% 20%;
		--muted-foreground: 190 27% 70%;
		--accent: 182 57% 44%;
		--accent-foreground: 191 27% 8%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 191 27% 8%;
		--border: 180 33% 20%;
		--input: 180 33% 20%;
		--ring: 182 57% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 180 33% 3%;
		--foreground: 191 27% 92%;
		--card: 180 33% 3%;
		--card-foreground: 191 27% 92%;
		--popover: 180 33% 3%;
		--popover-foreground: 191 27% 92%;
		--primary: 182 44% 46%;
		--primary-foreground: 180 33% 3%;
		--secondary: 183 34% 25%;
		--secondary-foreground: 191 27% 92%;
		--muted: 180 33% 80%;
		--muted-foreground: 191 27% 92%;
		--accent: 182 57% 56%;
		--accent-foreground: 180 33% 3%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 189 25% 10%;
		--border: 180 33% 60%;
		--input: 180 33% 80%;
		--ring: 182 57% 60%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
